* { margin:0; padding:0; }
.column-fix { padding:0 10px; }
.alpha .column-fix { padding: 0 3.33px 0 10px; }
.omega .column-fix { padding: 0 10px 0 3.33px; }
.alpha.omega .column-fix { padding:0 6.66px; }

body, div, span, p, a, img, ul, ol, li, table, th, tr, td, form, fieldset, legend, dl, dt, dd, blockquote, applet, object { border:0; }

body { padding: 0; background: transparent url(../images/bg.gif) repeat; font: 12px/1.4 Verdana, Helvetica, sans-serif; font-size: 12px; color: #666666;  text-align: center;  }

a {color:#1b8bb4; text-decoration:none; border:none;}

a:link, li a.active {color:#1b8bb4; text-decoration:none; border:none;}

a:hover {color:#1b8bb4; text-decoration: underline; border:none;}

img {max-width: 100%; height: auto;} 

img a { border:none; }

h1, h2, h3, h4, h5, h6 { font-family:  Arial, Helvetica, Sans Serif; margin:0 0 10px 0; }

h1 { font-size:230%; }

h2 { font-size:183%; font-weight: bold;}

h3 { font-size:140%; font-weight: bold;}

h4 { font-size:120%; font-weight: bold;}

h5 { font-size:100%; }

h1.title { border-bottom:1px dotted #84a1af; margin:0 0 20px 0; }

.node h2 a { color:#1c8cb5; font-size: 26px; }

p { margin:0 0 10px 0; }

blockquote { border: 1px solid #ced1da; background: #eef0f5; margin:20px 0; padding: 20px; color:#788093; font-weight:bold; font-style:italic; }

.clearfix:after { content: " "; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }

.clearfix { display: inline-block; }

html[xmlns] .clearfix { display: block; }

/*
 * Page
 */
#page { background: url(../images/bg.png) repeat-x; }

/*
 * Header-top
 */
#header { display: block }

#header-top-inside {  height:52px; margin:0 auto; }

#header-top-inside-left { float:left; text-align:left; padding:20px 0 0 0; color:#485766; font-family: Verdana, Arial, Helvetica, sans-serif; font-size:80%; }

#header-top-inside-left a  { color: #6a87a3; }

#header-top-inside-left-feed { float:left; padding:20px 0 0 0; }

#header-top-inside-right { float:right; text-align:right; padding:15px 0 0 0; }

/*
* Header menu
*/
.region-header ul.menu li { float:left; display:block; overflow:hidden; list-style-type:none; padding:0 10px; margin:0; border-right:1px solid #6a87a3;  }

.region-header ul.menu li.first { padding:0 10px 0 0; }

.region-header ul.menu li.last { border-right:none; }

/*
 * Wrapper
 */
#wrapper { margin:0 auto; text-align:left; padding:0 0 20px 0; }

#header { padding: 29px 0 21px 0; }

#logo-floater { float:left;  margin: 0; text-align: left; }

#logo-floater a { outline:none; }

#site-name a { color:#ffffff; font-size:14px; outline:none; }

#slogan { color:#485766; text-transform:uppercase; font-size:10px; }

#navigation { float:right; margin:10px 0 0 40px;  display:block; }

#highlighted { padding:0 0 20px 0; }

#main-area { background: transparent; clear:both; display:block; overflow:hidden;  background-image:url(../images/home-block-box-bg.png); padding: 10px;} 

#main-area-inside {  display:block; overflow:hidden; background-image:url(../images/main-area-bg.png); } 

#main { padding:20px; } 

.no-sidebars #main { padding:20px 40px 20px 20px; } 

.no-sidebars #main-area-inside { background: #ffffff; }

/*
* Taxonomy - Feed Pages
* .node-teaser
*/
.node-teaser { display:block; margin:0 0 25px 0; padding:0 0 5px 0; border-bottom:1px dotted #84A1AF; }

/*
 * Region-sidebar-first
 */
#right { background: #EEF0F5; }

#right .block h2 {  background: #9097a9 url(../images/icons/menu-icon.png) no-repeat 10px center; color:#ffffff; padding:10px 10px 10px 45px; font-size:160%;  margin: 0; }

#right .block .content { padding:20px 20px 30px 20px; } 

#right .block.block-menu .content,

#right .block.block-system .content { padding:10px; margin:0; } 

#right .block ul.menu { padding:0; margin:0; } 

#right .block ul.menu ul { padding:0 0 0 10px; }

#right .block ul.menu li { padding:0; margin:0; list-style: none; } 

#right .block ul.menu li a { background: url("../images/menu-right-bg.png") no-repeat scroll 96% center #E0E3EB; color: #747C93; display: block;
font-family:  Verdana, Arial,Helvetica,sans-serif; font-weight: 600; overflow: hidden; padding: 10px 20px 10px 10px; margin:0 0 2px 0; } 

#right .block ul.menu li ul.menu li a { background-image:none; margin:0 0 2px 0; }

/*
 * Home
 */
#home-blocks-area { background-image:url(../images/home-block-box-bg.png); padding: 20px 10px 0 10px; 
min-height:100px; overflow:hidden; clear:both; } 

/* Example overrides */

.home-block-area { float:none; padding:0; } 

.home-block-area.first { padding-left:0; }

.home-block-area.last { padding-right:0;  }

#home-blocks-area .region-home-area-3-b .block { background:none; margin: -6px 0 0; }

#home-blocks-area .block { background:url(../images/home-block-header-bg.png) repeat-x top; padding-bottom:20px;  }

#home-blocks-area .block h2 { height: 36px; font-size:20px; font-weight:bold; color:#ffffff; margin:0; padding:10px 0 0 20px; }

#home-blocks-area .region-home-area-1 .block h2 { background:url(../images/icons/man-icon.png) no-repeat 13px 10px; padding:10px 0 0 49px; }

#home-blocks-area .region-home-area-2 .block h2 { background:url(../images/icons/bubble-icon.png) no-repeat 13px 10px; padding:10px 0 0 49px; }

#home-blocks-area .region-home-area-3 .block h2 { background:url(../images/icons/phone-icon.png) no-repeat 13px 10px; padding:10px 0 0 49px; }

#home-blocks-area .block .content { background:url(../images/sectionbg.png); padding:20px; display:block; overflow:hidden; 
font-family:  Arial, Helvetica, Sans Serif; font-size: 14px; color: #6a7796; }

#home-blocks-area .block .content h1, 
#home-blocks-area .block .content h2, 
#home-blocks-area .block .content h3, 
#home-blocks-area .block .content h4 { color:#ffffff; }

#home-blocks-area .block .content h3 { font-size:17px; }

#home-blocks-area .block .content .detail h3 { font-size:14px; padding:0; margin:0; }
#home-blocks-area .block .content .detail h4 { color: #6a7796; font-size: 14px; line-height: 16px; padding:0; margin:0; font-weight:normal; }

#home-blocks-area .block .content p.post-note{  font-size: 12px; margin-top: -8px; }

#home-blocks-area .block .content p.post-note a{ color: #3f9fcf; }

.ico { float: left; margin: 0 20px 10px 0;  }

.ico2 img { margin-right: 5px; width: auto;} 
 
.clear{ clear: both; }

/*
 * Footer
 */
#footer { clear:both; margin:0 auto; text-align:center; display: block; background-color: #0F131F; border-bottom: 1px solid #040507; 
min-height:100px; }

#footer-inside { margin:0 auto; text-align:left; padding:20px 0; }

#footer a { color:#417893; }

#footer a:link, #footer li a.active { color:#417893; }

#footer a:hover { color:#417893; }

#footer h2{ color: #8c94ac; background: transparent; font-size:22px; padding:0 0 10px 0; }

#footer .content{ color: #ffffff; }

#footer ul.menu li { margin: 0 0 0.25em 0; } 

#footer ul.menu li.leaf { list-style:none; }

#footer ul.menu li a { color:#606574; }

#footer-bottom { clear:both; margin:0 auto; text-align:center; display: block; background: #040507;border-top:1px solid #0F131F; padding:20px 0; }

#footer-bottom-inside { margin:0 auto; text-align:left; min-height:50px; color:#6a7796; font-family:  Verdana, Helvetica, sans-serif; font-size: 11px;}

#footer-bottom-inside a {color:#6a7796;}

/*
 * Footer Gallery block 
 */   
.footer-gallery-block img { background-color: #191F2F; border: 1px solid #252C3E; float: left; margin-bottom: 10px; margin-right: 9px; padding: 5px; width: auto;} 

/*
 * Footer Twitter block 
 */
#footer ul.twitter { -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; background: url("../images/tweetbg.png") repeat scroll 0 0 transparent;
list-style-type: none; padding: 10px; margin-left:0; }

#footer ul.twitter{ padding:10px; }

#footer ul.twitter li, #footer li.twitter-message { color: #417893; font-family:  Verdana; font-size: 12px; margin: 0; }

#footer a.twitter-link, #footer a.twitter-user { color: #B8E2F6; }

#footer .twitter-timestamp { color: #305465; display: block; font-family:  Verdana; font-size: 11px; margin-top: 25px; }

/*
 * Node
 */
div.field-type-taxonomy-term-reference { color: #444955; font-size:11px; font-weight: bold; background: url(../images/tag.png) no-repeat left; padding-left: 28px; margin-top: 10px; display:block;
overflow:hidden; }

div.field-type-taxonomy-term-reference a { color: #1b8bb4;}

div.field-type-taxonomy-term-reference .field-label { float:left; display:block; clear:both; }

div.field-type-taxonomy-term-reference .field-items .field-item { float:left; display:block; padding:0 5px ;}


.node .content img { border: 1px solid #ced1da; background: #eef0f5; padding: 1%; margin:20px 0; max-width: 97.5%;} 

/*
 * contact form
 */
form#contact_form label { font-weight: bold; }

form#commentform input, form#contact_form input[type="text"] { background: none repeat scroll 0 0 #EEF0F5; border: 1px solid #CED1DA; font-size: 18px; height: 2em;width: 95%; }

form#contact_form input[type="text"] { width: 43%; }

form#commentform textarea, form#contact_form textarea { background: none repeat scroll 0 0 #EEF0F5; border: 1px solid #CED1DA; font-family: Verdana; font-size: 14px;
height: 170px; margin: 0 0 10px 10px; width: 290px; }

form#contact_form textarea { height: 300px; margin-left: 0; width: 100%; }

#map_wrap { float: right; margin-right: 0; }

p.map { display: block; font-weight: bold; margin: 0; }

form#commentform input#submit, form#contact_form button { background: none repeat scroll 0 0 #11719F; border: 0 none; color: #FFFFFF; float: right; font-weight: bold; margin-top: 10px; padding: 0 5px; width: 80px; }

form#contact_form button { height: 45px; margin: 0; width: 120px; }

/*
 * Module contact form
 */
.contact-form label { font-weight:bold; padding:5px 0; }

.contact-form .form-text { background:#EEF0F5; border: 1px solid #CED1DA; font-weight:normal; height:25px; line-height:25px; width: 98%; padding:5px; color: #666666; } 

.contact-form textarea { background:#EEF0F5; border: 1px solid #CED1DA; font-weight:normal; padding:5px; font-family: Verdana, Helvetica, sans-serif; color: #666666; }

.contact-form .form-submit {  background: #11719F; border: none; color: #FFFFFF; float: right; font-weight: bold; margin: 10px 0 0 0; padding: 10px; cursor:pointer; 
font-family: Arial, Verdana, Helvetica, sans-serif; }

/*
 * Comments
 */
#comments { clear:both; }

.comment-form label { font-weight:bold; padding:5px 0; }

.comment-form .form-text { background:#EEF0F5; border: 1px solid #CED1DA; font-weight:normal; height:25px; line-height:25px; width: 98%; padding:5px; color: #666666; } 

.comment-form textarea { background:#EEF0F5; border: 1px solid #CED1DA; font-weight:normal; padding:5px; 
font-family: Verdana, Helvetica, sans-serif; font-size:12px; line-height:120%; color: #666666; }

.comment-form .form-submit {  background: #11719F; border: none; color: #FFFFFF; float: right; font-weight: bold; margin: 10px 0 0 10px; padding: 10px; cursor:pointer; 
font-family: Arial, Verdana, Helvetica, sans-serif; }

.comment { background:#EEF0F5; border: 1px solid #CED1DA; font-weight:normal; padding:20px; margin:20px 0;  }

.comment .submitted { color:#777d8a; font-size:11px; }

.comment h3 a.permalink { font-size:12px; font-family: Verdana, Helvetica, sans-serif; }

/*
 * Form items
 */
.form-item, .form-actions { clear: both; display: block; margin-bottom: 1em; margin-top: 1em; overflow: hidden; }

/*
 * List items
 */
ul.menu { margin: 0 0 0.75em; padding: 0; list-style:inside; }

ul.menu li { margin: 0 0 0.25em 1.5em; padding: 0; } 

.links { clear:both; overflow:hidden; margin:10px 0; }

ul li.leaf { list-style-type: disc; list-style-image:none; }

ul.inline li.node-readmore, ul.inline li.comment-add { background: #11719F; border: none; color: #FFFFFF; float: right; font-weight: bold; margin: 7px 0 0 7px;  cursor:pointer; 
font-family: Arial, Verdana, Helvetica, sans-serif; padding:10px; }

.node-readmore a, .comment-add a, .comment-add a.active { color:#ffffff; padding:10px; }

.home-block-area .node-readmore , .home-block-area .comment-add { margin:0 5px; }

.home-block-area .node-readmore a, .home-block-area .comment-add a{ font-size:12px; padding:0 5px; }

.user-picture { float:left; margin:0 20px 0 0; background: #ffffff; border: 1px solid #CED1DA; padding:4px; }

.user-picture a, .user-picture img { padding:0; margin:0; display:block; overflow:hidden; }

/*
 * Pager
 */
ul.pager { background: #eef0f5; border: 1px solid #ced1da; margin:20px 0; padding:20px; display:block; overflow:hidden; }

ul.pager li { padding:0; margin:0; }

ul.pager li.pager-current { padding:10px; background:#4eabd7; color:#ffffff; }

ul.pager a { padding:10px; background:#11719f; color:#ffffff; }

ul.pager a:hover { background:#4eabd7; }

/*
 * Main menu links
 */
#navigation .block-menu h2 { display: none; }

/* Superfish menu essential styles */ 
#navigation ul.sf-menu, #navigation ul.sf-menu * { margin:0; padding: 0; list-style: none; }

#navigation ul.sf-menu { line-height: 1.0; }

#navigation ul.sf-menu ul { position: absolute; top: -999em; width: 190px !important; /* left offset of submenus need to match (see below) */}

#navigation ul.sf-menu ul li { width: 100%; }

#navigation ul.sf-menu li:hover {	visibility:	inherit; /* fixes IE7 'sticky bug' */ }

#navigation ul.sf-menu li { float: left; position: relative; }

#navigation ul.sf-menu a { display: block; position:	relative; }

#navigation ul.sf-menu li:hover ul, #navigation ul.sf-menu li.sfHover ul { left: 0; top: 33px; /* match top ul list item height */ z-index: 99; }

#navigation ul.sf-menu li:hover li ul, #navigation ul.sf-menu li.sfHover li ul { top: -999em; }

#navigation ul.sf-menu li li:hover ul, #navigation ul.sf-menu li li.sfHover ul { left: 190px !important; /* match ul width */ top: 0; }

#navigation ul.sf-menu li li:hover li ul, #navigation ul.sf-menu li li.sfHover li ul { top: -999em; }

#navigation ul.sf-menu li li li:hover ul, #navigation ul.sf-menu li li li.sfHover ul { left: 190px !important; /* match ul width */ top: 0; }

/* 1st level */
#navigation ul.menu, #navigation ul.sf-menu  { float:right; display:block; padding:0; margin:0; position:relative; z-index:1; }

#navigation ul.menu:after, #navigation ul.sf-menu:after, #navigation .content:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }

#navigation ul.menu li, #navigation ul.sf-menu li { display: inline-block; float:left; vertical-align: middle; padding:0 5px 0 0; margin:0; }

#navigation ul.menu li.last, #navigation ul.sf-menu li.last { padding:0; }

#navigation ul.menu li a, #navigation ul.sf-menu li a { outline:none; padding: 5px 10px; text-decoration: none; display:block; color:#7A8090; font-size:17px; font-weight:bold; text-align:center; }

#navigation ul.menu li a:hover, #navigation ul.menu li a.active, #navigation ul.sf-menu li a:hover, #navigation ul.sf-menu li a.active{ text-decoration:none; color:#ffffff; border-radius: 5px; -moz-border-radius: 5px; background: #0d0f13; }

#navigation ul.menu li a:after, #navigation ul.sf-menu li a:after { content: none; }

#navigation ul.menu li.expanded, #navigation ul.sf-menu li { position: relative; }

#navigation ul.menu li.expanded:hover a, #navigation ul.sf-menu li:hover a { border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0; background: #0d0f13; }

#navigation ul.sf-menu a.sf-with-ul {padding-right: 2.25em;}

#navigation ul.sf-menu li a { line-height: 23px; }

/* 2nd level */
.sf-menu li:hover ul, .sf-menu li.sfHover ul {	left: 0; top: 27px; /* match top ul list item height */ z-index:99; }

#navigation ul.menu li.expanded ul.menu, #navigation ul.sf-menu li ul { width: 190px; z-index:100; font-size:12px; padding:0; background: #0d0f13; display: none; position: absolute;  }

#navigation ul.menu li.expanded:hover > ul.menu, #navigation ul.sf-menu li:hover > ul { display: block; }

#navigation ul.menu li.expanded ul.menu li a, #navigation ul.sf-menu li ul li a { font-size: 15px; color:#7A8090; padding:10px; display:block; width:180px; text-align:left; border-radius:0; -moz-border-radius:0; }

#navigation ul.menu li.expanded ul.menu li a:hover, #navigation ul.sf-menu li ul li a:hover { color: #ffffff; }

/* 3rd, 4th, 5th, (...) level  */
#navigation ul.menu li ul ul { display: none; left: 190px; top:0; }

#navigation ul.sf-menu li ul ul { display: none; left: 190px; top:0; }

/*Superfish support: Reset background/border*/
#navigation ul.sf-menu li { background: transparent; border-top:none; }

#navigation ul.sf-menu a {border: none; }

#navigation ul.sf-menu li li { border:none; } 

#navigation ul.sf-shadow ul {border-radius: 0;}

/*
 * Secondary menu links
 */
#footer-bottom-inside-right ul#secondary-menu, #footer-bottom-inside-right ul.menu  { padding:0; margin:0; text-align:right; }

#footer-bottom-inside-right ul#secondary-menu:after, #footer-bottom-inside-right ul.menu:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }

#footer-bottom-inside-right ul#secondary-menu li, #footer-bottom-inside-right ul.menu li { padding:0; margin:0; border-right:1px solid #6A7796; display:inline-block; float:left; }

#footer-bottom-inside-right ul#secondary-menu li a, #footer-bottom-inside-right ul.menu li a { padding:0 10px; line-height:140%; }

#footer-bottom-inside-right ul#secondary-menu li.first a, #footer-bottom-inside-right ul.menu li.first a { padding:0 10px 0 0; }

#footer-bottom-inside-right ul#secondary-menu li.last, #footer-bottom-inside-right ul.menu li.last { border-right:none; }

#footer-bottom-inside-right ul#secondary-menu li.last a, #footer-bottom-inside-right ul.menu li.last a { padding:0 0 0 10px;  } 

/*
 * Search block
 */
#search-block-form { width:200px; -moz-border-radius: 8px; border-radius: 8px; background-color: #101011; border-color: #292D30;
border-style: none solid solid; border-width: 0 1px 1px; padding:0 5px; }

#search-block-form .form-text, #search-block-form .form-search { background: transparent; border:none; color: #6A87A3; font-size: 11px; width:170px; outline:none; height:25px; line-height:25px; }

#search-block-form label{ display: none; }

#search-block-form .form-submit { background: url("../images/search.png") no-repeat scroll center center transparent; border: 0 none; width: 25px;
text-indent:-9999px; cursor:pointer; height:25px; line-height:25px; }

/*
 * Front-page Slider 
 */
/* Browser Resets */
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus  {outline: none;}

.slides, .flex-control-nav, .flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles */
/*-----------------------------*/
.flexslider {margin: 0; padding: 0;}

.flexslider .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */

.flexslider .slides img {width: 100%; display: block;}

.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 

html[xmlns] .slides {display: block;} 

* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider bluemasters Styles */
/*-----------------------------*/
#slideshow{position: relative; padding: 0 0 1px 0; background:url(../images/slide-shadow.png) center 99.5% no-repeat; }

.flexslider {background: #fff; border: 10px solid #fff; position: relative; margin-bottom:42px; zoom: 1;display: none;}

.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}

.loading .flex-viewport {max-height: 300px;}

.flexslider .slides {zoom: 1;}

.flexslider .slides > li {position: relative;}

/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative;}

/* Caption style */
.slider-item-caption {width: 97.8%; padding: 1.1%; position: absolute; bottom: 0; left: 0; z-index: 101; background: url(../images/30w087b.png); color: #fff; font-size: 1.7em;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: 15px; text-align: center; z-index: 100;}

.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}

.flex-control-nav li:first-child {margin: 0;}

.flex-control-paging li a {background:url(../images/slide-nav-button.png) no-repeat center; width:14px; height:14px; display:inline-block; margin: 4px; border:none; outline:none; cursor: pointer; text-indent: -9999px;}

.flex-control-paging li a:hover {font-weight: bold; border:none; outline:none;}

.flex-control-paging li a.flex-active {background:url(../images/slide-nav-button-hover.png) no-repeat center; border:none; outline:none; cursor: default;}

/*
 * Top social, Network
 */
#topSocial ul { list-style: none outside none; padding:0; margin:0;}

#topSocial ul li { display:inline; }

#topSocial ul li a { display:block; float:left; height:16px; width:16px; text-indent:-9999px; padding:0 5px 0 0; outline:none; }

#topSocial ul li a.twitter { background:url(../images/twitter-top.png) 0 0 no-repeat; }	

#topSocial ul li a.facebook { background:url(../images/facebook-top.png) 0 0 no-repeat; }

#topSocial ul li a.rss { background:url(../images/rss-top.png) 0 0 no-repeat; }

.network { display:block; text-align:center; padding:15px 0; }

.network a { display:inline-block; overflow:hidden; height:32px; width:32px; text-indent:-9999px; padding:0 5px 0 0; outline:none; }

.network a.twitter { background:url(../images/twitter2.png) 0 0 no-repeat; }

.network a.facebook { background:url(../images/facebook.png) 0 0 no-repeat; }

.network a.in { background:url(../images/in.png) 0 0 no-repeat; }

.network a.tumblr { background:url(../images/tumblr.png) 0 0 no-repeat; }

.network a.youtube { background:url(../images/youtube.png) 0 0 no-repeat; }

.network a.flickr { background:url(../images/flickr.png) 0 0 no-repeat; }

/*
 * Credits
 */
.credits-container { height: auto; margin: 0 auto; padding: 0; }

.credits-container a { text-decoration: underline; }

a.smashing:link, a.smashing:active, a.smashing:visited, a.smashing:hover,  
a.drupalizing:link, a.drupalizing:active, a.drupalizing:visited, a.drupalizing:hover {
background: url("../images/footer-logo-smashing.png") no-repeat scroll center top transparent; display: block; float: left;
height: 54px; margin: 0; outline: 0 none; padding: 0; text-indent: -9999px; width: 154px; }

a.drupalizing:link, a.drupalizing:active, a.drupalizing:visited, a.drupalizing:hover {
background: url("../images/footer-logo-drupalizing.png") no-repeat scroll center top transparent; }	


/*
 * EXTRA
 */

/*  --------------------------------------------------------------------- */
table { margin:15px 0; border: 1px solid #cdcdcd; border-collapse:collapse; border-spacing:0; font-size:100%; width: 100%;}

th {background:#9097A9; color:#ffffff;}

tr.even { background-color:#e0e3eb; }

tr.odd { background-color:#ffffff; }

td,th { padding:10px; }

td { border: 1px solid #cdcdcd;}

td.active { background:none; border: 1px solid #cdcdcd;}

/*  --------------------------------------------------------------------- */
ul, ol { display:block; margin:15px 0 15px 40px; }
ul ul, ul ul ul, ol ol, ol ol ol { margin:0; margin-left:20px; }
ol { list-style-type:decimal; }
ol ol { list-style-type:upper-alpha; }
ol ol ol {list-style-type:lower-alpha; }
li { display:list-item; }
ul li a { text-decoration:none; }

div.messages { margin: 0 10px 20px 10px; }

/*
 * Responsive styles 
 */
/*LANDSCAPE PHONE TO DOWN*/
@media (max-width: 480px) {
	/*#home-blocks-area*/
	#home-blocks-area .block h2 { font-size:16px; }
	#home-blocks-area .block .content h3 { font-size:14px; line-height: 18px;}
}

/*LANDSCAPE PHONE TO PORTRAIT TABLET*/
@media all and (max-width: 759px) {
	/*top header*/
	#header-top-inside-left { float: none; display: inline-block; }
	#header-top-inside-left-feed { float: none; padding: 30px 0 0 0; display: inline-block; }
	#header-top-inside-right { float: none; padding: 20px 0 0 0;display: inline-block; }
	/*header*/
	#header { padding: 120px 0 21px 0; }
	#logo-floater { text-align: center; float: none; }
	/*main navigation*/
	#navigation { margin: 30px auto 20px; width: 55%; float: none; min-width: 220px; }
	select { width: 100%; padding: 7px; border: 1px solid black; }
	select:focus { outline: none;}
	/*banner*/
	#slideshow { background: none; }
	/*main-area*/
	#main-area-inside { background: #ffffff; }
	/*footer*/
	#footer h2 { padding: 30px 0 10px 0; }
	#footer #footer-left-1 h2 { padding: 0 0 10px 0; }
	#footer-bottom a { display: inline-block; float: none;}
	/*footer secondary menu*/	
	#footer-bottom-inside, #footer-bottom-inside-right ul#secondary-menu, #footer-bottom-inside-right ul.menu { text-align: center; }
	#footer-bottom-inside-right ul#secondary-menu li, #footer-bottom-inside-right ul.menu li { padding: 0; margin: 4px 0; border-right: none; display: block; float: none; }
	#footer-bottom-inside-right ul#secondary-menu li a, #footer-bottom-inside-right ul#secondary-menu li.first a,
	#footer-bottom-inside-right ul.menu li a, #footer-bottom-inside-right ul.menu li.first a { padding:0; }
	/*comment-forms*/
	.comment-form .form-text { width: 93%; } 
	.contact-form .form-text { width: 93%; }
}

/*LANDSCAPE DESKTOP TO DOWN*/
@media all and (max-width: 979px) {
	.column-fix, .alpha .column-fix, .omega .column-fix, .alpha.omega .column-fix { padding:0; }
	/*home-blocks*/
	#home-blocks-area { padding-top: 10px; }
	/*footer*/
	#footer h2 { font-size: 18px; }
	.footer-gallery-block img { float: none; width: 44px; height: 41px; }
}

/*PORTRAIT TABLET TO LANDSCAPE AND DESKTOP*/
@media all and (min-width: 760px) and (max-width: 979px) {
	/*main navigation*/
	#navigation { margin: 30px 0 0 0; width: 250px; }
	#navigation select { width: 100%; padding: 7px; border: 1px solid black; }
	#navigation select:focus { outline: none;}
	/*banner*/
	#slideshow { background: url(../images/slide-shadow_700.png) center 99.5% no-repeat; }
	/*home-blocks*/
	#home-blocks-area .region-home-area-1 .block h2, #home-blocks-area .region-home-area-2 .block h2, #home-blocks-area .region-home-area-3 .block h2 { background: none; padding: 10px 0 0 10px; }
	#home-blocks-area .block .content { padding: 10px; }
	#home-blocks-area ul.inline li.node-readmore, #home-blocks-area ul.inline li.comment-add { margin: 10px 0 0 5px;  padding:7px 1px; }
	#home-blocks-area ul.inline li.node-readmore.last { margin: 10px 0 0 0px; }
	.ico { margin: 0 10px 10px 0; }
	/*main-area*/
	#main-area-inside { background-image:url(../images/main-area-bg_680.png); }
	/*comment-forms*/
	.comment-form .form-text { width: 97%; }
	.contact-form .form-text { width: 97%; }
}	

/*DESKTOP SCREENS*/
@media all and (min-width: 980px) {
    
}
