{#<?php

/**
 * @file
 * theme implementation to display a single Drupal page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.tpl.php template normally located in the
 * modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - $base_path: The base URL path of the Drupal installation. At the very
 *   least, this will always default to /.
 * - $directory: The directory the template is located in, e.g. modules/system
 *   or themes/bartik.
 * - $is_front: TRUE if the current page is the front page.
 * - $logged_in: TRUE if the user is registered and signed in.
 * - $is_admin: TRUE if the user has permission to access administration pages.
 *
 * Site identity:
 * - $front_page: The URL of the front page. Use this instead of $base_path,
 *   when linking to the front page. This includes the language domain or
 *   prefix.
 * - $logo: The path to the logo image, as defined in theme configuration.
 * - $site_name: The name of the site, empty when display has been disabled
 *   in theme settings.
 * - $site_slogan: The slogan of the site, empty when display has been disabled
 *   in theme settings.
 * - $hide_site_name: TRUE if the site name has been toggled off on the theme
 *   settings page. If hidden, the "element-invisible" class is added to make
 *   the site name visually hidden, but still accessible.
 * - $hide_site_slogan: TRUE if the site slogan has been toggled off on the
 *   theme settings page. If hidden, the "element-invisible" class is added to
 *   make the site slogan visually hidden, but still accessible.
 *
 * Navigation:
 * - $main_menu (array): An array containing the Main menu links for the
 *   site, if they have been configured.
 * - $secondary_menu (array): An array containing the Secondary menu links for
 *   the site, if they have been configured.
 * - $breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.tpl.php):
 * - $title_prefix (array): An array containing additional output populated by
 *   modules, intended to be displayed in front of the main title tag that
 *   appears in the template.
 * - $title: The page title, for use in the actual HTML content.
 * - $title_suffix (array): An array containing additional output populated by
 *   modules, intended to be displayed after the main title tag that appears in
 *   the template.
 * - $messages: HTML for status and error messages. Should be displayed
 *   prominently.
 * - $tabs (array): Tabs linking to any sub-pages beneath the current page
 *   (e.g., the view and edit tabs when displaying a node).
 * - $action_links (array): Actions local to the page, such as 'Add menu' on the
 *   menu administration interface.
 * - $feed_icons: A string of all feed icons for the current page.
 * - $node: The node object, if there is an automatically-loaded node
 *   associated with the page, and the node ID is the second argument
 *   in the page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 *  header: 'Header'
 *  search_area: 'Search area'
 *  navigation: 'Navigation'
 *  highlighted: 'Highlighted'
 *  banner: 'Banner'
 *  home_area_1: 'Home area 1'
 *  home_area_2: 'Home area 2'
 *  home_area_3: 'Home area 3'
 *  home_area_3_b: 'Home area 3 b'
 *  footer_left_1: 'Footer left 1'
 *  footer_left_2: 'Footer left 2'
 *  footer_center: 'Footer center'
 *  footer_right: 'Footer right'
 *  footer: 'Footer'
 *  footer_bottom: 'Footer Bottom'
 *  help: 'Help'
 *  page_top: 'Page top'
 *  page_bottom: 'Page bottom'
 *
 * @see template_preprocess()
 * @see template_preprocess_page()
 * @see template_process()
 * @see bartik_process_page()
 * @see html.tpl.php
 */
?>
#}
<div id="page">

  <!--header-top-->
  <div id="header-top">
    <div id="header-top-inside" class="clearfix container_12">

      <div class="grid_7">
        <!--header-top-inside-left-->
        <div id="header-top-inside-left">{{ page.header }}</div>
        <!--EOF:header-top-inside-left-->
      </div>

      <div class="grid_2">
        <!--header-top-inside-left-feed-->
        <div id="header-top-inside-left-feed">
          <div id="topSocial">
            <ul>
              <li><a class="twitter" href="http://twitter.com/morethanthemes" title="Follow Us on Twitter!"></a></li>
              <li><a class="facebook" href="http://www.facebook.com/pages/More-than-just-themes/194842423863081" title="Join Us on Facebook!"></a></li>
              <li><a class="rss" title="RSS" href="#" title="Subcribe to Our RSS Feed"></a></li>
            </ul>
          </div>
        </div>
        <!--EOF:header-top-inside-left-feed-->
      </div>

      <div class="grid_3">
        <!--header-top-inside-left-right-->
        <div id="header-top-inside-right">{{ page.search_area }}</div>
        <!--EOF:header-top-inside-left-right-->
      </div>

    </div>
  </div>
  <!--EOF:header-top-->

  <div id="wrapper">
  <!--header-->
    <div id="header" class="clearfix container_12">

      <div class="grid_5">
        <!--logo-floater-->
        <div id="logo-floater">
          {% if page.logo %}
          <a href="{{ front_page }}" title="Home">
            {{ page.logo }}
          </a>
          {% endif %}

          {% if site_name or site_slogan %}
            <div class="clearfix">
                {% if site_name %}
                <span id="site-name"><a href="{{ front_page }}" title="Home">{{ site_name }}</a></span>
              {% endif %}
                {% if site_slogan %}
                <span id="slogan">{{ site_slogan }}</span>
              {% endif %}
            </div>
          {% endif %}
        </div>
        <!--EOF:logo-floater-->
      </div>

      <div class="grid_7">
        <!--navigation-->
        <div id="navigation">
          {{ main_menu_tree }}
        </div>
        <!--EOF:navigation-->
      </div>

    </div><!--EOF:header-->

    <div class="container_12">
      <div class="grid_12">
        <div id="main-area" class="clearfix">
          <div id="main-area-inside" class="clearfix">
            {% if page.sidebar_first %}
              <div class="grid_8 alpha omega">
            {% else %}
              <div class="grid_12 alpha omega">
            {% endif %}
            <div id="main"  class="inside clearfix">
              {% if page.highlighted %}
                <div id="highlighted" class="clearfix">
                  {{ page.highlighted }}
                </div>
              {% endif %}

              {% if messages %}
                <div class="clearfix">
              {{ messages }}
                </div>
              {% endif %}
              {% if page.help %}
                <div id="help">
                {{ help }}
                </div>
              {% endif %}
              {% if action_links %}
                <ul class="action-links">
                  {{ action_links }}
                </ul>
              {% endif %}

              {{ title_prefix }}
              {% if title %}
              <h1 class="title">{{ title }}</h1>
              {% endif %}
              {{ title_suffix }}

              {% if tabs %}
                {{ tabs }}
              {% endif %}

              {{ page.content }}

              {% if feed_icons %}
                {{ feed_icons }}
              {% endif %}

          </div>
          <!--main-->
        </div>

          {% if page.sidebar_first %}
            <div class="grid_4 alpha omega">
              <div id="right" class="clearfix">
                <div id="network" class="block">
                  <h2>Network Connect</h2>
                  <div class="network">
                    <a href="http://twitter.com/" class="twitter">Twitter</a>
                    <a href="http://www.facebook.com/" class="facebook">Facebook</a>
                    <a href="http://www.flickr.com/" class="flickr">Flickr</a>
                    <a href="#" class="in">In</a>
                    <a href="#" class="tumblr">Tumblr</a>
                    <a href="http://www.youtube.com/" class="youtube">Youtube</a>
                  </div>
                </div>
                {{ page.sidebar_first }}
              </div>
                  <!--right-->
            </div>
          {% endif %}
          </div>
        </div>
          <!--main-area-->
        </div>
      </div>
    </div>
  </div>

  <!-- /#wrapper-->

  <!--footer-->
  <div id="footer">
    <div id="footer-inside" class="clearfix container_12">

      <div class="grid_4">
        <div id="footer-left">
          <div class="grid_2 alpha">
            <div id="footer-left-1">
              {{ page.footer_left_1 }}
            </div>
          </div>
          <div class="grid_2 omega">
            <div id="footer-left-2">
              {{ page.footer_left_2 }}
            </div>
          </div>
        </div>
      </div>

      <div class="grid_4">
        <div id="footer-center">
          {{ page.footer_center }}
        </div>
      </div>

      <div class="grid_4">
        <div id="footer-right">
          {{ page.footer_right }}
        </div>
      </div>

    </div>
  </div>
  <!--EOF:footer-->

  <!--footer-bottom-->
  <div id="footer-bottom">

    <div id="footer-bottom-inside" class="clearfix container_12">

      <div class="grid_5">
        <div id="footer-bottom-inside-left">
          {{ page.footer }}
        </div>
      </div>

      <div class="grid_7">
        <div id="footer-bottom-inside-right">
          {#<?php print theme('links__system_secondary_menu', array('links' => $secondary_menu, 'attributes' => array('id' => 'secondary-menu', 'class' => array('links', 'inline', 'clearfix')))); ?>#}
          {% if footer_bottom %}
            {{ page.footer_bottom }}
          {% endif %}
        </div>
      </div>

      <div class="grid_12">
        <div class="credits-container" style="clear:both; padding-top:12px;">Ported to Drupal for the Open Source Community by <a href="http://www.drupalizing.com">Drupalizing</a>, a Project of <a href="http://www.morethanthemes.com">More than Themes</a></div>
      </div>

    </div>

    <div class="container_12">

      <div class="grid_12">
        <div class="credits-container clearfix">
          <a title="Brought To You By: www.SmashingMagazine.com" class="smashing" href="http://www.smashingmagazine.com" target="_blank">Brought to you By: www.SmashingMagazine.com</a>
          <a title="Drupalizing" class="drupalizing" href="http://www.drupalizing.com" target="_blank">Drupalizing</a>
        </div>
      </div>

    </div>

  </div>
  <!--EOF:footer-bottom-->

</div><!--EOF:page-->
